@import url('https://fonts.googleapis.com/css?family=Lato|Work+Sans');

/*
// Color assignments
@font-color: @white;
@header-color: @green;
@background-color: @dark-purple;
@button-color: @dark-purple;
@dark-purple: #120719;
@white: #FCFDFF;
@green: #17B363;
*/

.App {
	display: flex;
	flex-direction: column;
	text-align: center;
	background: #fcfdff;
}

.header {
	display: flex;
	background: #120719e3;
	align-items: flex-end;
}

@media (max-width: 500px) {
	.logo {
		width: 100px;
	}
}

h1 {
	color: #17b363;
	font-size: 60px;
	/* background: #120719e3; */
	top: 0;
	/* padding: 50px; */
	margin: 0;
}

@media (max-width: 550px) {
	h1 {
		font-size: 40px;
	}
}

.nav {
	display: flex;
	justify-content: space-around;
	position: sticky;
	top: 0;
	z-index: 2;
	background: #12071980;
}

.nav:hover {
	background: #120719d7;
}

@media (max-width: 1000px) {
	.nav {
		position: static;
		flex-direction: column;
	}
}

.link {
	text-decoration: none;
	font-size: 24px;
	color: silver;
	padding: 10px;
}

@media (max-width: 1000px) {
	.link {
		border-bottom: 1px solid white;
		padding: 20px 0;
	}
}

@media (max-width: 550px) {
	.full-page {
		display: hidden;
	}
}

.activeNav {
	color: #fcfdff;
}

.prompt {
	position: absolute;
	margin: 200px 25%;
	font-size: 60px;
	color: #17b363;
	font-weight: bolder;
	opacity: 0.7;
	z-index: -1;
}

@media (max-width: 1000px) {
	.prompt {
		margin: 600px 10%;
	}
}

.prompt-link {
	text-decoration: none;
	color: #7a2eaa;
	font-style: italic;
}

.year-links {
	display: flex;
	margin: 0 auto;
	width: 1100px;
	justify-content: flex-start;
	align-items: flex-start;
	background: #120719;
}

.spacer {
	background: #fcfdff;
	width: 215px;
	height: 59px;
}

.year-W {
	text-decoration: none;
	text-align: center;
	color: gray;
	font-size: 24px;
	border-right: 1px solid gray;
	background: #120719;
	padding: 15px 35px;
}

.active {
	color: #fcfdff;
	background: #17b363;
}

.map-wrapper {
	width: 1100px;
	/* border: 1px solid red; */
	overflow: hidden;
	margin: 10px auto;
	background: #120719;
}

.dash-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
	padding: 10px;
	background: #120719;
}

.dash-year {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	background: #120719;
}

@media (max-width: 1000px) {
	.dash-year {
		flex-direction: column;
	}
}

.country-map-container {
	height: 498px;
	max-width: 600px;
	position: sticky;
	top: 30px;
	/* position: fixed; */
	overflow: hidden;
	display: flex;
	justify-content: center;
	border: 8px solid #fcfdff;
}

@media (max-width: 1000px) {
	.country-map-container {
		position: static;
	}
}

.dash-year-links {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100px;
	height: 500px;
	/* border: 2px solid gray; */
	background: #120719;
	position: sticky;
	top: 30px;
	/* position: fixed; */
}

@media (max-width: 1000px) {
	.dash-year-links {
		position: static;
		flex-direction: row;
		width: 95%;
		height: 60px;

		/* position: absolute;
		transform: translate(50px 200px); */
	}
}

.year {
	text-decoration: none;
	color: gray;
	font-size: 24px;
	border-bottom: 2px solid gray;
	background: #120719;
	padding: 16px 0;
}

@media (max-width: 1000px) {
	.year {
		padding: 20px 2%;
		border-bottom: none;
		border-right: 2px solid gray;
		font-size: 16px;
		/* font-weight: bold; */
	}

	.year:last-child {
		border-right: none;
	}
}

@media (max-width: 499px) {
	.year {
		font-size: 12px;
	}
}

.right-container {
	background: #fcfdff;
	/* display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 650px; */
}

.wood-removal {
	overflow: hidden;
	border-bottom: 10px solid #120719;
}

.form {
	display: flex;
	/* flex-wrap: wrap;
	flex-direction: column; */
	justify-content: flex-end;
	align-items: center;
	margin: 10px;
	padding: 10px;
	width: 90%;
	height: 60px;
	/* background: rgba(192, 192, 192, 0.151);
	box-shadow: 4px 4px 4px rgba(192, 192, 192, 0.267); */
}

select {
	height: 35px;
	width: 280px;
	font-size: 25px;
	color: #17b363;
	background: none;
	border-top: none;
	border-left: none;
}

button {
	width: 100px;
	height: 35px;
	font-size: 15px;
	border: 2px solid #17b363;
	border-radius: 10px;
	color: #17b363;
	background: #fcfdff;
	margin: 30px;
}

@media (max-width: 550px) {
	button {
		margin: 30px 0 30px 10px;
	}
}

.infoCard {
	margin: 10px;
	padding: 10px;
	background: #120719;
	color: #17b363;
	max-width: 600px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

@media (max-width: 550px) {
	.infoCard {
		flex-direction: column;
	}
}

.column {
	text-align: left;
	padding: 5px;
	width: 28%;
}

.basic-info {
	text-align: center;
	border-right: 1px solid #17b363;
	margin-right: 10px;
}

@media (max-width: 550px) {
	.column {
		border-right: none;
		border-bottom: 1px solid #17b363;
		width: 80%;
		text-align: center;
	}
}

.activeYear {
	color: #17b363;
	background: #fcfdff;
}
